section.section2 {
  background: #e6e6e6;
}

span.name {
  color: black;
}

/*SECTION 2-1*/
div.section2-1 {
  color: #595959;
  height: 35%;
  margin: 0 auto;
  width: 80%;
}

h1.section2-1 {
  color: #b3b3b3;
}

h3.section2-1 {
  font-size: 21px;
  line-height: 35px;
  margin: 4.5% auto 0;
}



/*SECTION 2-2*/
div.section2-2 {
  color: #595959;
  height: 65%;
  margin: 0 auto;
  width: 80%; 
}

aside.section2-2 {
  flex: 1;
  font-size: 21px;
  line-height: 35px;
  max-width: 50%;
}

a.article {
  color: rgba(204, 68, 0, 0.8);
  border: 3px solid rgba(204, 68, 0, 0.8);
  border-radius: 0;
  font-size: 1.2vw;
  margin-top: 5%;
  padding: 0.5vw 1vw;
}

figure.section2-2 {
  background: white;
  box-shadow: 0 8px 13px rgba(0,0,0,.25);
  flex: 1;
  max-width: 525px;
  max-height: 410px;
  padding: 15px 15px 70px 15px;
}

img.section2-2 {
  height: 100%;
  width: 100%;
}

figcaption.section2-2 {
  color: black;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 1.8vw;
  line-height: 1.8vw;
  padding: 0.5vw 0 0 0.5vw;
}




