/*whitesmoke:  #f5f5f5
seafoam green: #a0d6b4
orange: #ff751a*/

* {
  box-sizing: border-box;
}

/*GENERAL*/
body {
  font-family: 'Quicksand', sans-serif;
  background: whitesmoke;
}

.bold {
  font-weight: bold;
  color: #666666;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-center {
  align-items: center;
  justify-content: center;
}

/*MAIN NAV BAR*/
nav.main-nav {
  background: #33cccc;
  height: 70px;
/*  animation-name: slide-down;
  animation-duration: 1s;
  animation-fill-mode: both;*/
}

/*@keyframes slide-down {
  from { transform: translateY(-80px); }
  to { transform: translateY(0); }
}*/

/*Logo*/
div.logo {
  width: 310px;
  text-align: center;
  /*margin-left: 80px;*/
}

div#title {
  font-size: 45px;
  color: #f5f5f5;
}

div#subtitle {
  font-size: 17.8px;
  color: #1f7a7a;
}

/*Nav Buttons*/
nav.main-nav ul {
  width: 300px;
  height: 70px;
  /*margin-right: 80px;*/
}

nav.main-nav ul .nav-btn {
  flex: 1;
  text-align: center;
  color: #f5f5f5;
  text-decoration: none;
  padding-top: 24px;
  font-size: 20px;
}

nav.main-nav ul .nav-btn:hover {
  background-color: #5dd5d5;
}

/*ABOUT PAGE*/
div.image-container {
  padding: 50px 0 30px;
}

img#profile-pic {
  position: relative;
  width: 180px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 3px solid #aeeaea;
  /*animation: roll 2s both;
  left: 50%;*/
}

/*@keyframes roll {
  from { transform: translateX(-1000%) rotate(0deg); }
  to { transform: translateX(-50%) rotate(720deg); }
}*/

/*.skip-animation {
  animation: instant-in 1ms ease-out;
  animation-fill-mode: forwards;
}*/

/*@keyframes roll-stop {
  
}*/

/*div.fade-in {
  animation: fadein 1s ease 2s;
  animation-fill-mode: both;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}*/

ul.about-nav {
  padding-bottom: 40px;
}

li.about-nav {
  padding: 0 20px;
  cursor: pointer;
  font-size: 20px;
  color: grey;
}

li.about-nav:first-child {
  border-right: 1px solid lightgrey;
}

li.about-nav:hover {
  color: #33cccc;
}

li.selected {
  color: #33cccc;
}

/*Intro*/
div.intro {
  color: grey;
  width: 915px;
  padding: 0 15px;
  position: relative;
}

.center {
  text-align: center;
}

p.intro {
  line-height: 38px;
  font-size: 18px;
  margin: 20px;
}

i.fa.intro {
  font-size: 18px;
}

div[class^='intro-border-'] {
  position: absolute;
  width: 30px;
  height: 30px;
}

div[class^='intro-border-left-'] {
  top: 0;
  left: 0;  
}

div[class^='intro-border-right-'] {
  right: 0;
  bottom: 0;  
}

div.intro-border-left-top {
  border-top: 5px double lightgrey;
}

div.intro-border-left-side {
  border-left: 5px double lightgrey;
}

div.intro-border-right-side {
  border-right: 5px double lightgrey;
}

div.intro-border-right-bottom {
  border-bottom: 5px double lightgrey;
}

/*Skills*/
div.skills-section {
  margin-top: 20px;
}

div.skills-icons {
  margin: 15px 0;
}

span.skills-title {
  color: #d9d9d9;
}

i.skills-icon {
  font-size: 50px;
  color: lightgrey;
  margin: 0 20px;
}

i.skills-icon:hover {
  color: #1f7a7a;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 60%;
    margin-left: -60px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 1s;
    line-height: 15px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*PROJECTS PAGE*/
/*Project Containers*/
div.projects {
  margin-top: 15px;
}

h1.projects {
  font-size: 23px;
  margin: 20px 0 20px 35px;
  text-align: left;
  color: grey;
}

div.current {
  margin: 10px 0;
}

div.current-projects {
  padding-bottom: 40px;
  border-bottom: 1px solid lightgrey;
}

div.not-current {
  align-items: flex-start;
  margin: 10px 0;
}

/*Project Items*/
div.current .project-item,
div.not-current .project-item {
  min-width: 300px;
  height: 170px;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

div.project-item:hover {
  box-shadow: 0px 10px 50px rgba(0,0,0,.60);
}

div.project-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

div.project-title {
  position: absolute;
  z-index: 1;
  bottom: 15%;
  left: 25px;
  min-width: 250px;
}

h1.project-title {
  font-size: 27px;
  color: white;
  max-width: 210px;
  line-height: 35px;
}

i.project-icon,
img.project-icon {
  color: white;
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

p.project-description,
p.current-project-description {
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  color: grey;
}

p.project-description {
  width: 300px;
  margin-top: 10px;
}

p.current-project-description {
  padding: 0 0 0 65px;
  text-align: left;
  font-size: 18px;
  line-height: 25px;
}

/*CONTACT PAGE*/
div.contact {
  justify-content: center;
}

/*Form*/
form.contact {
  width: 600px;
  min-height: 400px;
  margin: 100px 65px;
  color: grey;
  padding-right: 50px;
}

h1.contact {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

div.form-item {
  margin: 20px 0;
}

p.invalid-message.hidden {
  display: none;
}

input.form-item,
textarea.form-item {
  width: 100%;
  font-size: 15px;
  border: none;
  outline: none;
  border-bottom: 1px grey solid;
  background: transparent;
  font-family: 'Quicksand', sans-serif;
  order: 2;
}

input.form-item:focus,
textarea.form-item:focus {
  border-bottom: 1px #1f7a7a solid;
}

input.form-item:focus + label.form-item,
textarea.form-item:focus + label.form-item {
  color: #1f7a7a;
}

div.submit {
  justify-content: flex-end;
}

div#recaptcha {
  margin-right: 28px;
}

div#submit-btn-container {
  display: inline;
  height: 40px;
}

input#submit {
  font-size: 15px;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  background: #33cccc;
  color: #f5f5f5;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
}

input#submit:disabled {
  background: #1f7a7a;
}

input#submit:hover {
  cursor: pointer;
}

i.contact,
i.social-icon {
  font-size: 40px;
  width: 70px;
}

/*Social Icons*/
div.social-icons {
  margin: 55px 0 100px;
  padding: 110px 0 0 40px;
  border-left: 1px solid lightgrey;
}

a, a:visited {
  text-decoration: none;
}

a.social-icon {
  width: 250px;
  justify-content: start;
  align-items: center;
  margin: 20px 0;
  color: grey;
}

a.social-icon:hover {
  color: #1f7a7a;
  cursor: pointer;
}

p.social-icon {
  font-size: 15px;
  font-weight: 500;
}

/*@media (max-width: 1060px) {
  body {
    background: pink;
  }
}

@media (max-width: 768px) {
  body {
    background: lightblue;
  }
}

@media (max-width: 640px) {
  body {
    background: lightgreen;
  }
}*/