/*whitesmoke:  #f5f5f5
seafoam green: #a0d6b4
orange: #ff751a*/

/*GENERAL*/
.test {
  background: pink;
}

body {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
  background: whitesmoke;
}

.bold {
  font-weight: bold;
  color: #666666;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-center {
  align-items: center;
  justify-content: center;
}

/*MAIN NAV BAR*/
nav.main-nav {
  background: #33cccc;
  height: 60px;
}

/*Logo*/
div#title {
  font-size: 37px;
  color: #f5f5f5;
}

div#subtitle {
  font-size: 15px;
  color: #1f7a7a;
}

/*Nav Buttons*/
nav.main-nav ul {
  width: 250px;
  height: 60px;
}

nav.main-nav ul .nav-btn {
  flex: 1;
  text-align: center;
  color: #f5f5f5;
  text-decoration: none;
  padding-top: 20px;
}

nav.main-nav ul .nav-btn:hover {
  background-color: #5dd5d5;
}

/*ABOUT PAGE*/
div.image-container {
  padding: 40px 0 30px;
}

img#profile-pic {
  width: 150px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 3px solid #aeeaea;
}

ul.about-nav {
  margin-bottom: 30px;
  width: 200px;
  padding-bottom: 20px;
  border-bottom: solid #aeeaea 2px;
}

li.about-nav {
  padding: 0 10px;
  cursor: pointer;
  font-size: 15px;
  color: grey;
}

li.about-nav:first-child {
  border-right: 1px solid grey;
}

li.about-nav:hover {
  color: #33cccc;
}

/*Intro*/
div.intro {
  color: grey;
  padding: 0 80px;
  /*border-bottom: double #aeeaea 5px;*/
}

p.intro {
  line-height: 20px;
  font-size: 15px;
}

i.fa.intro {
  font-size: 18px;
}

/*Skills*/
div.skills-icons {
  margin: 15px 0;
}

span.skills-title {
  color: #d9d9d9;
}

i.skills-icon {
  font-size: 50px;
  color: lightgrey;
  margin: 0 20px;
}

i.skills-icon:hover {
  color: #1f7a7a;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 60%;
    margin-left: -60px;
    font-size: 12px;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
    line-height: 15px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*PROJECTS PAGE*/

h1.projects {
  margin: 50px 0 20px;
}

div.projects {
  justify-content: center;
  flex-wrap: wrap;
}

div.project-item {
  width: 280px;
  height: 150px;
  background: grey;
  margin: 20px;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

div.project-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

h1.project-title {
  font-size: 30px;
  position: absolute;
  z-index: 1;
  color: white;
  font-weight: bold;
  max-width: 200px;
  vertical-align: middle;
}

/*CONTACT PAGE*/
div.contact {
  justify-content: center;
}

i.fa {
  font-size: 33px;
  width: 50px;
}

/*Form*/
form.contact {
  width: 450px;
  min-height: 400px;
  padding: 0 70px;
  margin: 100px 0;
  border-right: 1px solid lightgrey;
  color: grey;
}

div.contact.message {
  text-align: center;
}

p.contact {
  font-size: 13px;
  font-weight: 600;
  color: #1f7a7a;
  align-self: center;
}

input.form-item,
textarea.form-item {
  border: none;
  outline: none;
  border-bottom: 1px grey solid;
  background: transparent;
  font-family: 'Quicksand', sans-serif;
}

input.form-item {
  width: 380px;
}

textarea.form-item {
  padding: 0;
  width: 380px;
}

input#submit {
  width: 100px;
  height: 30px;
  align-self: center;
  border: none;
  outline: none;
  background: #33cccc;
  color: #f5f5f5;
  border-radius: 30px;
  font-family: 'Quicksand', sans-serif;
}

input#submit:hover {
  background: #1f7a7a;
  cursor: pointer;
}

/*Social Icons*/
div.social-icons {
  margin: 200px 50px;
}

a, a:visited {
  text-decoration: none;
}

a.social-icon {
  width: 200px;
  justify-content: start;
  align-items: center;
  margin: 10px 0;
  color: grey;
}

a.social-icon:hover {
  color: #1f7a7a;
  cursor: pointer;
}

p.social-icon {
  font-size: 12px;
  font-weight: 500;
}

