/*SECTION 1*/
section.section1 {
  background-attachment: fixed;
  background-image: url("../img/sec1-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: #d9d9d9;
}

div.section1.layer {
  background: rgba(0, 0, 0, 0.5);
}

h1.section1 {
  font-size: 10vw;
  margin-top: 15%;
}

h2.section1 {
  font-size: 1.8vw;
  font-weight: 500;
  margin-top: 2%;
}

nav.section1 {
  margin: 9% auto;
  width: 75%;
  flex-wrap: wrap;
  max-width: 85%;
}

a.nav-btn,
a.nav-btn:link,
a.nav-btn:hover,
a.nav-btn:active,
a.nav-btn:visited {
  border: 3px solid #d9d9d9;
  color: #d9d9d9;
  font-weight: bold;
  width: 220px;
  padding: 13px 0 13px 0;
  text-decoration: none;
  margin: 0 20px 20px;
}

@media (max-width: 700px) {
  a.nav-btn {
    min-width: 90%;
  }
}