section.section4 {
  background: #e6e6e6;
  padding-bottom: 4%;
}

h1.section4 {
  padding-top: 3%;
  color: #b3b3b3;
}

div.section4 {
  width: 75%;
  margin: 3% auto 0;
  flex-wrap: wrap;
}

div.project-box {
  background: #b3b3b3;
  width: 300px;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 8px 35px rgba(0,0,0,.25);
  position: relative;
}

h2.project-title,
p[class^="project-"] {
  color: #262626;
  line-height: 1.5vw;
}

[class^="project-"] {
  font-size: 1vw;
}

img.project-img {
  margin: 1vw 0;
  width: 260px;
  border-radius: 2px;
  box-shadow: 0 8px 13px rgba(0,0,0,.5);
}

div.project-content {
  margin-bottom: 50px;
}

a.project-github {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5vw;
}

img.project-github {
  width: 30px;
}

img.project-github:hover {
  content: url("../img/github-100orange.png");
}