section.section3 {
  /*background: #808080;*/
  background: #262626;
  height: 70%;
  width: 100%;
}

h1.section3 {
  color: #595959;
}

h2.section3 {
  color: #404040;
}

div.section3 {
  width: 85%;
  margin: 3% auto;
}

ul.items {
  width: 21.5vw;
  padding: 0 3vw;
  flex-wrap: wrap;
  margin-top: 10%;
}

ul.back-end,
ul.other {
  border-left: 2px solid #333333;
}

ul.back-end {
  border-right: 2px solid #333333;
}

i[class^="devicon"] {
  font-size: 4vw;
}

svg,
li > img {
  width: 4vw;
}

li {
  margin: 1vw;
}

i.github {
  color: #b3b3b3;
}

i.mysql {
  font-size: 5vw;
}

i.sequelize {
  font-size: 6vw;
}

ul.database > li:first-child,
ul.database > li:nth-child(2) {
  position: relative;
  top: -1vw;
}

ul.database > li:nth-child(3),
ul.database > li:last-child {
  position: relative;
  top: -2vw;
}

