/*SOCIAL ICONS*/
div.social-icon {
  height: 155px;
  position: absolute;
  top: 29px;
  right: 29px;
}

img.social-icon {
  width: 42.5px;
  opacity: 0.8;
  flex: 1;
}

@media (max-width: 750px) {
  div.social-icon {
    visibility: hidden;
  }
}