html {
	height: 100%;
}

body {
	background: url(../images/background.png);
	height: 100%;
}

* {
	box-sizing: border-box; 
}

header {
	background: #ffffff;
	width: 100%;
	height: 80px;
	top: 0;
	border-bottom: 3px solid #cccccc;
	margin-bottom: 40px;
	overflow: hidden;
}

nav {
	color: #cccccc;
	background: #ffffff;
	width: 270px;
	height: 80px;
	padding-top: 28px;
	display: inline;
	float: right;
}

nav a {
	font-family: Arial;
	font-size: 18px;
	color: #777777;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
}

h1 {
	font-family: Georgia;
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
	background: #4aaaa5;
	width: 235px;
	height: 80px;
	padding: 28px;
	text-align: center;
	float: left;	
}

h2 {
	font-family: Georgia;
	font-size: 28px;
	font-weight: bold;
	color: #4aaaa5;
}

h3 {
	font-family: Georgia;
	font-size: 22px;
	font-weight: bold;
	color: #4aaaa5;

}

section {
	content:"";
	display: table;
}

aside {
	font-size: 25px;
	background: #ffffff;
	width: 270px;
	padding: 30px 25px 30px 25px;
	border: 1px solid #dddddd;
	float: right;
}

footer {
	font-family: Arial;
	font-size: 16px;
	color: #cccccc;
	background: #666666;
	width: 100%;
	height: 80px;
	padding: 30px;
	border-top: 8px solid #4aaaa5;
	margin-top: 100px;
	bottom: 0;
	text-align: center;
	clear: both;
}

p {
	font-family: Arial;
	font-size: 16px;
	color: #777777;
	line-height: 2;
}

form {
	font-family: Arial;
	font-size: 16px;
	color: #777777;
}

input {
	width: 100%;
	height: 28px;
}

textarea {
	font-family: Arial;
	width: 100%;
	height: 100px;	
}

hr {
	color: #dddddd;
	margin-top: 25px;
	margin-bottom: 25px;	
}

.wrap {
	width: 960px;
}

.centered {
	margin: 0 auto;
}

.columns {
	column-count: 2;
}

.absolute {
	font-family: Georgia;
	font-size: 20px;
	color: #ffffff;
	background: #4aaaa5;
	width: 280px;
	height: 60px;
	padding-top: 11px;
	margin-top: 100px;
	text-align: center;
	position: absolute;
}

.maincontent {
	background: #ffffff;
	width: 650px;
	padding: 30px 25px 30px 25px;
	border: 1px solid #dddddd;
	margin-right: 40px;
	display: inline;
	float: left;
}

.placeholder {
	width: 280px;
	height: auto;
	margin-bottom: 30px;
}

.socialicon {
	width: 60px;
	height: 60px;
	margin: 3px;
}

#portrait {
	width: 30%;
	height: auto;
	border: 1px solid #dddddd;
	margin-right: 25px;
	margin-bottom: 10px;
	float: left;
}

#submitbutton {
	font-family: Arial;
	font-size: 18px;
	color: #ffffff;
	background: #4aaaa5;
	width: 110px;
	height: 40px;
	border: none;
}


